.testPage{
    padding-left: 200px;
    padding-right: 360px;
    h1{
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        font-size: 48px;
        color: #011627;
        text-shadow: 3px 4px 4px #06D6A0;
    }
    h2{
        font-family: Fira Sans;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 26px;
        
        color: #000000;
        
    }
    .about{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    
    color: #000000;
    margin-bottom: 30px;
    }
    .payment{
        margin-top: 40px;
    }
    .close {
        position: fixed;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        }
        .close:hover {
        opacity: 1;
        }
        .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
        }
        .close:before {
        transform: rotate(45deg);
        }
        .close:after {
        transform: rotate(-45deg);
        }
        .avatar{
            margin-top: 30px;
        }
        p.name{
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-size: 18px;
            margin-bottom: -10px;
        }
        p.description{
            font-family: Fira Sans;
            font-style: italic;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            margin-bottom: 30px;
        }
}