.project-add {
  padding-left: 200px; }
  .project-add .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3; }
  .project-add .close:hover {
    opacity: 1; }
  .project-add .close:before, .project-add .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333; }
  .project-add .close:before {
    transform: rotate(45deg); }
  .project-add .close:after {
    transform: rotate(-45deg); }
  .project-add h1 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 48px;
    color: #011627;
    text-shadow: 3px 4px 4px #06D6A0; }
  .project-add h6 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #011627;
    margin-top: 20px;
    margin-bottom: 10px; }
  .project-add p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    width: 700px;
    height: 42px;
    margin-bottom: 30px; }
  .project-add #author, .project-add #vk, .project-add #productName {
    width: 58%;
    height: 30px;
    border: 1px solid #06D6A0;
    box-sizing: border-box;
    border: 1px solid rgba(1, 22, 39, 0.5);
    box-sizing: border-box;
    border-radius: 10px; }
  .project-add #phone, .project-add #amount {
    width: 25%;
    height: 30px;
    border: 1px solid #06D6A0;
    box-sizing: border-box;
    border: 1px solid rgba(1, 22, 39, 0.5);
    box-sizing: border-box;
    border-radius: 10px; }
  .project-add #productDescription, .project-add #codeform {
    width: 58%;
    height: 150px;
    border: 1px solid #06D6A0;
    box-sizing: border-box;
    border: 1px solid rgba(1, 22, 39, 0.5);
    box-sizing: border-box;
    border-radius: 10px; }
  .project-add #confirm {
    width: 58%;
    height: 44px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #06D6A0;
    background: #011627;
    border-radius: 10px; }
  .project-add #cancel {
    width: 58%;
    height: 44px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: black;
    background: white;
    border: 2px solid #06D6A0;
    border-radius: 10px;
    margin-bottom: 30px; }
